/* Web and Mobile Responsive Header Section*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', cursive;
    font-family: 'Quicksand', sans-serif;
}

/*Header Section*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #000000;
}

header .img {

        width: 120px;
        cursor: pointer;
      }


header .navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li{
    list-style: none;
    margin: 0 3px;
    padding: 5px;
    font-weight: 500;
    
}

header .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;

}
 .navigation .point {
    border: 2px solid turquoise;
    border-radius: 10px;
    text-decoration: bold;
    color: red;
   

}

header .navigation li a:hover{
    color: turquoise;
    border: 2px solid turquoise;
    border-radius: 10px;
    
}

header .search{
    position: relative;
    width: 300px;
    height: 40px;
    
}

header .search input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;  
    padding: 0px 10px 0px 45px;  

}

header .search input::placeholder{
    color: white
}

header .search .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: white;
    border-right: 1.3px solid white;
    padding-right: 10px;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }


#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    height: 200px;
    border: 1px solid turquoise;
    background-color: rgba(64, 224, 208, 0.8);
  }

li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-decoration: underline;


}
@media only screen and (max-width:900px)
    {
    
    header {
        height: 15%;

    }
    header .navigation {
        display: none;
    }
    header .search{
        margin-left: 30px;
        margin-right: 30px;
    }
    
  #hamburger-icon {
    display: block;
  }
}




/*Slideshow section*/
    .banner{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .slider{
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;
        padding-left: 0%;
        left: 0;
    }

    #slideImg{
        width: 105%;
        height: 100vh;
        animation: zoom 4.2s linear infinite;
    }

    @keyframes zoom{
        0%{transform: scale(1.3);
        }
        15%{transform: scale(1);
        }
        85%{transform: scale(1);
        }
        100%{transform: scale(1.3);
        }
    }

/*Content Section*/

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
}


.content {
    width:70%;
    margin: 160px auto 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.content h1 {
    font-size: 60px;
    position: relative;
    
}

.content h3 {
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    font-size: 25px;
    position: relative;
}

/*Now showing section on Movies Page*/
.nowShowing {
    font-weight: bold;
    font-size: 25px;
    color:#ffffff;
    display: flex;
    position: static;
    background-color: #000000;
    padding-left: 42%;
    padding-top: 20px; 
    padding-bottom: 20px; }


.container1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 550px;
        column-gap: 20px;
        row-gap: 40px;
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        }

        .container1 .movieBox {
            
            border-radius: 25px;
            border: 2px solid turquoise;
            cursor:pointer;
        }

        .container1 .movieBox:hover {
          background-color: black;
          border: 2px solid white;
          background-image: url(/web-multimedia-dev/media/images/bkimgs/);
        }

        .container1 .movieBox img{
            padding: 10%;
            padding-left: 20%;
            max-width: 100%;
            max-height: 90%;
        }
        
        .button{
            display: grid;
            column-gap: 0px;
            grid-template-columns: 1fr 1fr ;
            
            padding-left: 17%; 
            padding-right: 20%;
            text-align: center;
            transition: background 0.5s;
            
            
        }
        
        .btn-1 {
            padding: 5px;
            border-radius: 25px;
            cursor: pointer;
            width: 120px;
            background-color:turquoise;
            background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                    
            
        }
       
        
        .btn-1 a {
          text-decoration: none;
          color: white;
        }
        
        .btn-2  a{
            padding: 5px;
            border-radius: 25px;

            cursor: pointer;
            width: 100px;
            color: #fff;
            text-decoration: none;
            background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
            
            
        }
        
        .btn-1:hover  {
            background: transparent;
            
            
          
        }
        
        .btn-2 a:hover {
            background: turquoise;
            
           
        }
      
        @media only screen and (max-width:800px) {
            .container1 {
                display: flex;
                flex-direction: column;
            }
            .container1 .movieBox {
                height: 450px;
            }
            
        }

        .movie_location{
        
          color: turquoise;
          font-size: 18px;
         
        }

       
/*Cinema Features section*/
.cinemaFeatures {
    font-weight: bold;
    font-size: 25px;
    color:#ffffff;
    display: flex;
    position: static;
    background-color: #000000;
    padding-left: 40%;
    padding-top: 20px; 
    padding-bottom: 20px; }

    .box1{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 500px;
        column-gap: 20px;
        row-gap: 40px;
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        }
.box1 .conferencing{
    border: 1px solid white;
    border: 2px solid turquoise;
    border-radius: 25px;
}

.conferencingBookingsAvailable{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color:rgb(0, 128, 53);
}
.box1 img{
    max-width: 100%;
    max-height: 100%;
}

.box1 .conImg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 500px;
        column-gap: 20px;
        row-gap: 40px;
        padding: 20px;
        
}


@media only screen and (max-width:800px) {
    .cinemaFeatures {
        padding-left: 40%;
        padding-right: 50%;
        font-size: 20px;
        text-align: center;
    }
    .box1 {
        display: flex;
        flex-direction: column;
    }
    .box1 .conferencing {
        height: 450px;
    }}

    .pic1_txt{
        font-size: 1.2rem;
        line-height: 2;
        padding: 0 1rem;
        margin: 0;
        color: black;
        background-color: rgba(64, 224, 208, 0.5);
        margin-top:-10rem;
        position: relative;
        text-align: center;
        font-weight: 1000;
        word-spacing: 0%;
        
    }


/* Movies Page CSS */
@media only screen and (max-width:800px) {
    .movies_grid {
       max-width: 100%;
    }
    
       .movies_info {
           margin-left:20px;
    }
    
        .movies_info h1{
        font-size: 25px;
    }
}

/* Large outer container */
.movies_container{

    position: relative;
    max-width: 100%;
    height: 420vh;
    background-color: black;
    padding: 20px;
    padding-top: 115px;
    color: white;
    scroll-margin:unset;
}

.movies_banner {
    position:static;
    background-color: black;
    height: 50px;
    border: 1px solid white;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    
   
}

.movies_banner .banner_btn{
    display: inline-block;
    color: white;
    width: 120px;
    margin-right: 20px;
    padding-right: 10px;

}

.movies_banner .banner_btn .fa-filter{
    position: static;
    color: white;
}

.movies_grid {
    border: 2px solid turquoise;
    border-radius: 25px;
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 7px;
    padding-left:10px;
    margin: 30px;
    margin-right: 50px;
    margin-left: 5px;
  
}

.movies_grid .movies_img img{
    max-height: 300px;
    padding-left: 20px;
}

.spacing{
    word-spacing: 60px;
}

.movies_info .movies_trailer{
   
    border-radius: 25px;
    width: 125px;
    font-weight: bolder;
    background-color: turquoise;
    padding-left:-15px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    
}


.movies_info h1{
    margin-bottom: -5px;
    color:white;
}
.movies_info h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    

}
.movies_trailer{
    margin-top:20px;

    
}

.movies_trailer a{
  
  border-radius: 10px;
  

  font-weight: bolder;
  text-decoration: none;
  color: white;
 
}
.movies_trailer:hover{
    background: rgb(0, 0, 0);
    border: 1px solid white;
    cursor: pointer;
 
}

.movie_ratings h2{
    margin-top: 25px;
    
}
.movie_times p{
    margin-top: 18px;

}

/* Genre Page */

.genre_container {
  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 500px;
        column-gap: 20px;
        row-gap: 40px;
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        margin-top: 8%;
        background-image: url(/web-multimedia-dev/media/images/bkimgs/darkcinema2.jpg);
        background-repeat:no-repeat;
        background-position: center;
        background-size: 80%;
     
  
}

.genre_box {
  
  padding-left: 5px;
  border-radius: 25px;
  max-width: 400px;
  height: 450px;
}

.genre_box:hover{
  border:1px solid white;
  background-color: rgba(48, 213, 200, .2);
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.genre_box:active{
  background-color: rgba(48, 213, 200, .2);
}

.genre_box img{
  max-width:100%;
  max-height:100%;
  border-radius: 25px;
}

.genre_text1 {
  position: absolute;
  top: 42%;
  left: 10%;
  font-size: 75px;
  font-weight: 900;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  max-width: 100%;
  border-radius: 25px;
  
}

/* Add some content at the bottom of the video/page */
.genre_content {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  max-width: 100%;
  padding: 20px;
  text-align: center;

}

/* Drop Down Menu */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  box-shadow: 0px 8px 12px 0px rgba(48,213,200,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border: none;
  background: turquoise;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myBtn a{
  text-decoration: none;
  color: white;
}




#myBtn:hover {
    background-color: rgba(255, 0, 0, 1);
}

#myBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}




/* Upcoming Page CSS */
@media only screen and (max-width:800px) {

}




.upcoming_container{
    position: relative;
    max-width: 100%;
    height: 405vh;
    background-color: black;
    padding: 20px;
    padding-top: 115px;
    color: white;
    overflow: hidden;
}

.upcoming_img{
    padding-top: 15px;
    padding-right: 20px;
}
.upcoming_banner{
        position:static;
        background-color: black;
        height: 50px;
        border: 1px solid white;
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
}

.upcoming_banner .banner_btn{
    display: inline-block;
    color: white;
    width: 120px;
    margin-right: 20px;
    padding-right: 10px;
}

.upcoming_banner .banner_btn .fa-filter{
    position: static;
    color: white;
}

.upcoming_info h1{
    margin-left: 40px;
}

.upcoming_text{
    margin-left: 40px;
}
.upcoming_grid {
    border: 2px solid turquoise;
    border-radius: 25px;
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 7px;
    padding-left:20px;
    margin: 30px;
    margin-right: 50px;
    margin-left: 5px;
    margin-top: 50px;
  
}

.upcoming_grid .upcoming_img img{
    max-height: 380px;
    padding-left: 20px;
    width: 250px;
}



.upcoming_grid .upcoming_trailer {
    margin-top:20px;
   
    border-radius: 25px;
    background-color: turquoise;
    padding: 5px;
    margin-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    width: 120px;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  
}


.upcoming_trailer a{
  color:white;
  text-decoration: none;
}

.upcoming_trailer:hover{
  background-color:black;

}




@media only screen and (max-width:800px) {
    .trailer iframe {
        width: 95%;

    }
}


.upcoming_date{
    margin-top: 10px;
    margin-left: 40px;
}
.movie_date h2{
    margin-top: 20px;
    text-decoration: bolder;
    color:turquoise;
    font-size: 20px;
    margin-left: 40px;
    
}
.upcoming_text{
    margin-top:20px;
}

.upcoming_rating{
    margin-top: 20px;
    font-size: 12px;
    margin-left: 40px;
}


/* Embedding YouTube Video */
.video-banner {
  display: block;
}
@media (min-width: 641px) {
  .video-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
}

.video-banner .video-banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.video-banner-headline {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}
@media (min-width: 641px) {
  .video-banner-headline {
    left: 2em;
    bottom: 2.75em;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
.video-banner-icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  
  display: block;
  width: 2.5em;
  height: 2.5em;
  
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1.0);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.0);
    -o-transform: translateX(-50%) translateY(-50%) scale(1.0);
    transform: translateX(-50%) translateY(-50%) scale(1.0);
  
  -webkit-transition: 
        all 0.2s ease-out 0.05s;
    transition: 
        all 0.2s ease-out 0.05s;
}
@media (min-width: 641px) {
  .video-banner-icon-play {
    width: 4.5em;
    height: 4.5em;
  }
}
.video-banner-icon-play:hover {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -o-transform: translateX(-50%) translateY(-50%) scale(1.2);
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  
  
}








/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.video-modal {
    overflow: hidden;
    position: fixed;
    opacity: 0.0;

  -webkit-transform: translate(500%,0%);
  transform: translate(500%,0%);

  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background: rgba(48,213,200,0.82); /* overlay color */

  opacity: 0.0;

  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
  
    margin: 0 auto;

    overflow-y: visible;

    background: #000;
  
  width: calc(100% - 12em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
 @media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(100vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
    .video-modal-content {
        width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
    }
}

/* modal close button */
.close-video-modal {
    display: block;
    position: absolute;
    left: 0;
    top: -40px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: #000;
    box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal: 
   add class to the body to reveal */
.show-video-modal .video-modal {
    opacity: 1.0;

    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
    opacity: 1.0;
}
.show-video-modal .video-modal-content {
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
}

/*Feedback Section*/
.feedback_text { 
  position: inherit;
  margin-top:8%;
  background-color: black;
  color: white;
  margin-bottom: -10%;
}

.feedback_text h1{
  font-size: 25px;
  text-align: center;
}

.feedback_text h2{ 
  font-size: 20px;
  text-align: center;
}

section {
  height: 200vh;
  width: 100%;
  background-image: url(/web-multimedia-dev/media/images/bkimgs/darkcinema2.jpg);
  background-position-y: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feedback-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 100px #ffffff10;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  margin-bottom: 20px;
  border: 3px solid turquoise;
  color: white;
  font-weight: bold;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  background-color: green;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Contact Us Page */
.contacts_banner {
  max-width: 100%;
  height: 100vh;
  background-image: url(/web-multimedia-dev/media/images/bkimgs/contacts_banner1.jpg);
  background-color: #000;
  background-size: 100%;
  background-repeat:no-repeat;
  position: relative;
  
}

.contacts_banner h1 { 
  color: white;
  font-size: 50px;
  font-weight: 1700;
  margin-top: 25%;
  margin-left: 10%;
  position: absolute;
}

.contacts_banner h2 { 
  color: white;
  font-size: 25px;
  font-weight: 100;
  margin-top: 30%;
  margin-bottom: 10px;
  margin-left: 10%;
  position: absolute;
}

.contacts_banner p{
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-top: 34%;
  margin-bottom: 10px;
  margin-left: 10%;
  position: absolute;
  padding-bottom: 10px;

  
}
body{ 
  background-color: black;
}


.contacts_container {
  max-width: 100%;
  height: 150vh;
  border: 1px solid turquoise;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;
  margin: 10px;
  column-gap: 20px;
  background-color: black;
  color: white;
  background-image: url(/web-multimedia-dev/media/images/bkimgs/darkcinema2.jpg);
  
}

.contacts_container h1{
  font-size: 5px;
  color: white;
  font-size:20px;
}

.contacts_container h2{
  font-size: 5px;
  color: white;
  
}
.mall-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  padding: 5px;

  
 }
 .mall_info {
   padding-top: 70px;
 }

 .mall {
   clip-path: circle();
  
 }


.map_box {
  padding-top:2%;
  padding-left:80px;
  border-radius: 25px;

}

.contact_box img{
  max-width: 350px;
  max-height: 400px;
  margin: 10px;
  
}




/* Action Page  */
.action_banner {
  position: relative;
  background-color: black;
  border: 1px solid grey;
  height: 50px;
  top: 5px;
  max-width: 100%;
  margin-top: 8%;
  margin-left: 8%;
  margin-right:10%;
}

.action_banner h1{
  color: #f1f1f1;
  font-size: 20px;
  padding-left:20px;
  padding-top:15px;
}




.action_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 420px;
  column-gap: 20px;
  row-gap: 40px;
  background-color: lightgray;
  color: #ffffff;
  margin-left: 8%;
  margin-right:10%;
  
}

.action_box{
  background-color: lightgray;
}

.action_box img{
  max-width:250px;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
}

.action_info h1{
  font-size: 20px;
  padding-left:25px;

}

.action_info h2{
  font-size: 15px;
  padding-left:25px;

}
/*Footer section*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: turquoise;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: turquoise;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(34, 34, 34, 0.877);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: turquoise;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





