/* Web and Mobile Responsive Header Section*/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Public+Sans:wght@300;400&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inspiration', cursive;
    font-family: 'Public Sans', sans-serif;
}

/*Header Section*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #000000;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #fff; 
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li{
    list-style: none;
    margin: 0 10px;
    font-weight: 500;
}

header .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navigation li a:hover{
    color: yellow;
}

header .search{
    position: relative;
    width: 300px;
    height: 40px;
    
}

header .search input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;  
    padding: 0px 10px 0px 45px;  

}

header .search input::placeholder{
    color: white
}

header .search .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: white;
    border-right: 1.3px solid white;
    padding-right: 10px;
}

/*Slideshow section*/
    .banner{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .slider{
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;
        padding-left: 0%;
        left: 0;
    }

    #slideImg{
        width: 105%;
        height: 100vh;
        animation: zoom 4.2s linear infinite;
    }

    @keyframes zoom{
        0%{transform: scale(1.3);
        }
        15%{transform: scale(1);
        }
        85%{transform: scale(1);
        }
        100%{transform: scale(1.3);
        }
    }

/*Content Section*/

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
}


.content {
    width:70%;
    margin: 160px auto 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.content h1 {
    font-size: 60px;
    position: relative;
}

.content h3 {
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    font-size: 25px;
    position: relative;
}

/*Footer section*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(34, 34, 34, 0.877);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





