/* Web and Mobile Responsive Header Section*/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Public+Sans:wght@300;400&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inspiration', cursive;
    font-family: 'Public Sans', sans-serif;
}

/*Header Section*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #000000;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #fff; 
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li{
    list-style: none;
    margin: 0 10px;
    font-weight: 500;
}

header .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navigation li a:hover{
    color: yellow;
}

header .search{
    position: relative;
    width: 300px;
    height: 40px;
    
}

header .search input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;  
    padding: 0px 10px 0px 45px;  

}

header .search input::placeholder{
    color: white
}

header .search .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: white;
    border-right: 1.3px solid white;
    padding-right: 10px;
}

/*Slideshow section*/
    .banner{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .slider{
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;
        padding-left: 0%;
        left: 0;
    }

    #slideImg{
        width: 105%;
        height: 100vh;
        animation: zoom 4.2s linear infinite;
    }

    @keyframes zoom{
        0%{transform: scale(1.3);
        }
        15%{transform: scale(1);
        }
        85%{transform: scale(1);
        }
        100%{transform: scale(1.3);
        }
    }

/*Content Section*/

.content {
    width:70%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 60px
}

.content h3 {
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    font-size: 25px;
}

/*Footer section*/
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
